/* Reset some default styles */
body, h1, h3, h4, p, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #3498db;
    margin-top: 30px;
}

h3 {
    color: #555;
    margin-top: 10px;
}

div {
    margin-top: 20px;
}

h4 {
    color: #777;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

#studentPannel {
    background-color: #2ecc71;
}

#adminPannel {
    background-color: #e74c3c;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
