body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 20px auto;
}

.registration-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-section h2 {
    color: #333;
}

.registration-buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

/* Responsive Styling */
@media screen and (max-width: 600px) {
    main {
        padding: 0 10px;
    }

    .registration-buttons {
        flex-direction: column;
        align-items: center;
    }
}
